# Node.js
node_modules/
npm-debug.log
yarn-error.log

# IDEs et éditeurs de texte
.vscode/
.idea/
*.swp
*.swo
*.log

# Fichiers de build (par exemple pour un projet front-end)
dist/
build/

# Déploiement
*.env
*.env.local
*.env.*.local
public/uploads/

# Système d'exploitation (ne pas suivre les fichiers de configuration de l'OS)
.DS_Store       # macOS
Thumbs.db       # Windows

# Autres fichiers générés
coverage/
*.bak
*.tmp
