/*
p {
    
    color: rebeccapurple;
    font-size: large;
}
*/

/* p {
    color: rgba(128, 128, 128, 1);
} */

/* p {
    color: #30edf2
} */

/* p {
    font-size: 2em;
} */

/* p {
    font-family: Arial, Helvetica, sans-serif;
} */

/* p {
    font-weight: bold;
    text-align: center;
} */