.line {
    border: 1px dashed black;
    text-align: center;
}

.square {
    border: 1px dashed black; 
    text-align: center;   
}

.triangle {
    border: 1px dashed black;  
    text-align: center;  
}